.login-container{
    display: flex;
    justify-content: center;
}
.login-item{
    padding: 50px;
    width:400px;
    margin-top: 10px;
}
.login-field{
    width: 100%;
}
.login-btn{
    padding-top: 40px;
}
.red{
    color:red;
}
.dispNone{
    display: none;
}
.dispBlock{
    display: block;
}
@media (max-width: 700px) {
    .login-item{
        padding: 20px;
        width:350px;
        margin-top: 10px;
    }
  }