.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #263238;  
}
.container-item{
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.logo{
    color: #fff;
    font-size: 18px;
}
.home-search{
    display: flex;
    border-radius: 4px;
    width:300px;
    height: 40px;
}
.home-search button,input{
    background-color: #c0c0c0;
    border: none;
    border-radius: 4px;
}
.home-search input[type=text] {
    font-size: 17px;
    margin-left: -5px;
    width: 100%;
}
.home-search input:focus {
    outline:none;
  }
  .profile-img-container{
      padding-left: 20px;
  }
  .profile-img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      
  }
/* Style the search box inside the navigation bar 
.home-search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-right: 16px;
    font-size: 17px;
    width:300px;
    background-color: #c0c0c0;
    color:black;
  }
  
  */
@media (max-width: 700px) {
    .header-container {
        max-height: 50px;
        padding: 5px;
    }
    .container-item{
        padding: 0px 20px;
    }
    .home-search  {
        width: 150px;
    }
    .profile-img-container{
        padding-left: 10px;
    }
   
  }